[submodule "sart"]
	path = sart
	url = https://github.com/savmlang/sart.git
[submodule "sajit"]
	path = sajit
	url = https://github.com/savmlang/sajit.git
[submodule "architecture"]
	path = architecture
	url = https://github.com/savmlang/saarch.git
[submodule "mixedradix"]
	path = mixedradix
	url = https://github.com/savmlang/mixedradix.git
[submodule "saw"]
	path = saw
	url = https://github.com/savmlang/saw
